@import "heading.css";
@import "paragraph.css";

body{
background: #d8dfea;
text-align: center;
	vertical-align: middle;

}

#webseite{
    float: left;
    width: 100%;
    min-width: 420px;
	max-width: 2000px;
	height: 100%;
	align-content: center;
	margin-top: auto;
	margin-bottom: auto;
}

#header {
    width: 80%;
    min-width: 420px;
	max-width: 2000px;
    height: 80%;
    min-height: 80px;
	max-height: 300px;
	background: #3b5998;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	margin-left: auto;
	margin-right: auto;



}
#header h2{
	vertical-align: middle;
	font-family: "AR DARLING";
	font-size: 60px;
	font-weight: bold;
	color: white;
}

/*#main {
    width: 80%;
    min-width: 300px;
	max-width: 3000px;
}*/

/*#menu {
	float: left;
    width: 80%;
    min-width: 270px;
	max-width: 350px;
    height: 80%;
    min-height: 320px;
	max-height: 400px;
	background: #286090;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}*/
#inhalt{
    float: right;
    width: 80%;
    min-width: 420px;
	max-width: 2000px;
    height: 100%;
    min-height: 300px;
	max-height: 30000px;
	background: #afbdd4;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: 10%;
	margin-inside: 20px;
}

#inhalt h3, h1 , h2, h4{
	vertical-align: middle;
	font-family: "AR DARLING";
	font-size: 40px;
	font-weight: bold;
	color: white;
}

#inhalt h1{
	vertical-align: middle;
	font-family: "AR DARLING";
	font-size: 40px;
	font-weight: bold;
	color: white;
}

#inhalt h5{
	vertical-align: middle;
	font-family: "AR DARLING";
	font-size: 22px;
	font-weight: bold;
	color: white;
}

#header a{
	align-content: flex-start;
}

#footer {
    float: right;
    width: 80%;
    min-width: 420px;
	max-width: 2000px;
	height: 80%;
	min-height: 30px;
	max-height: 40px;
	background: #afbdd4;
	-webkit-border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
    -moz-border-radius-bottomright: 30px;
	margin-left: auto;
	margin-right: 10%;

}
input[type=button] {
	width: 30%;
	background-color: #3b5998;
	color: white;
	padding: 14px 20px;
    font-size: larger;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	vertical-align: middle;
	margin-top: 2%;
}

input[type=button]:hover {
    background-color: #6d84b4;
}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    font-size: larger;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	vertical-align: middle;
	margin-top: 10px;
}



/*input[type=submit] {
    width: 90%;
    background-color: #54bd7a;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	vertical-align: middle;
	margin-top: 2%;
}*/

input[type=submit] {
    width: 90%;
    color: white;
    background-color: #3b5998;
    font-size: larger;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
}
input[type=submit]:hover {
    background-color: #3b5998;
}

input[id=auswahl] {
    width: 30%;
    font-size: larger;
    color: white;
    background-color: #3b5998;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 10px;
}

input[id=bearbeiten] {
    width: 45%;
    background-color: #3b5998;
    color: white;
    padding: 14px 20px;
    font-size: larger;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	vertical-align: middle;
	margin-top: 10px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6d84b4;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.topnav li a:hover {background-color: #3b5998;}


ul.topnav li.icon {display: none;}




input[id=search_submit] {
    width: 12.5%;
    color: white;
    font-size: larger;
    background-color: #3b5998;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	vertical-align: middle;
	margin-top: 15px;
}

input[id=zuruck] {
    width: 12.5%;
    color: white;
    background-color: #3b5998;
    padding: 14px 20px;
    border: none;
    font-size: larger;
    border-radius: 4px;
    cursor: pointer;
	vertical-align: middle;
	margin-top: 15px;
}

button[id=zuruck] {
    width: 12.5%;
    background-color: #3b5998;
    color: white;
    padding: 14px 20px;
    border: none;
    font-size: larger;
    border-radius: 4px;
    cursor: pointer;
	vertical-align: middle;
	margin-top: 10px;
}
input[id=search_box]{
    width: 65%;
    padding: 12px 20px;
    display: inline-block;
    font-size: larger;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	vertical-align: middle;
	margin-top: 10px;
}
.unten {
 float: left;
 width: 60%;
 margin-right: 2%;
 padding: 20px;
 box-sizing: border-box;
}
.unten2 {
 float: left;
 width: 36%;
 margin-right: 2%;
 padding: 20px;
 box-sizing: border-box;
}
