<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <link rel="stylesheet"  href="{% static '/account/style.css' %}">
    <meta charset="UTF-8">
    <title>Profil!</title>

<style>
        @media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
    </style>

</head>
<body>
<script>

    function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
    <div id="webseite" >
            <div id="header">

                {% include "quiz/Navi.html" %}

            </div>
        <div id="main">
                <div id="inhalt">
                    <br>
                    <h2>Benutzerprofil</h2>
                    <br>
                    <h5>Titel: {{ user_rank.title }}
                    <br>
                        Accountname: {{user.username}}
                    <br>
                    Rang: {{user_rank.rank}}</h5>

                    <table align="center" style="margin: 0px auto;">
                        <tr><td>
                    {% load static %}
                    <img src="{% static pro_pic.picture %}" alt="img"/>
                    <br>
                    {% if account_updated %}


                            <br>
                            <div class="alert alert-success">
                            Ihr Profil wurde aktualisiert.
                            </div>



                            {% endif %}

                        </td>
                            <td>
                    <table align="center" style="margin: 0px auto;">
                        <tr><td>Accountname:</td> <td>{{user.username}}</td></tr>
                        <tr><td>Name:</td><td>{{user.last_name}}</td> </tr>
                        <tr><td>Email-Adresse:</td> <td>{{user.email}}</td></tr>
                        <tr><td>Account-Art:</td> <td>{{account}}</td></tr>
                        <tr><td>Zuletzt angemeldet:</td> <td>{{user.last_login}}</td></tr>
                        <tr><td>Angemeldet seit:</td> <td>{{user.date_joined}}</td></tr>
                    </table>
                        </td></tr>
                    </table>
                    <br>
                    <input  type="submit" onclick="location.href='/account/update_account/';" value="Account bearbeiten" />
                    <br>
                    <input  type="submit" onclick="location.href='/account/update_picture/';" value="Profilbild wechseln" />
                    <br>

                    <h4>Meine Highscores</h4>
                    {% if not ergebnis %}
                        Sie haben noch kein Quiz beendet 😞
                        <br>
                    {% else %}
                    <table border="5" align="center" style="margin: 0px auto;">
                        <tr><th>Quiz: </th><th>Bestergebnis: </th></tr>
                        {% for erg in ergebnis_liste %}
                        <tr><th> {{ erg.0 }} </th><th> {{ erg.1 }} Punkte </th></tr>

                        {% endfor %}
                    {% endif %}


                            </table>


                </div>

        </div>
        <div id="footer">

            </div>
    </div>


</body>
</html>