
<h2> QUANGO </h2>
<ul class="topnav" id="myTopnav">
  <li><a href="#news" onclick="location.href='/quiz/course_select/';">Quiz spielen</a></li>
    <li><a href="#multiplayer" onclick="location.href='/quiz/lobbys/';">Multiplayer</a> </li>
    {% if user.is_staff %}
  <li><a href="#about" onclick="location.href='/quiz/settings/';">Quiz konfigurieren</a></li>
    <li><a href="#about" onclick="location.href='/quiz/proposed_questions/';">Vorgeschlagene Fragen</a></li>
    {% elif user.username != '' %}
     <li><a href="#about" onclick="location.href='/quiz/course_select_propose/';">Fragen vorschlagen</a></li>

    {% endif %}
    <li style="float: right">
        <a href="#profil" onclick="location.href='/account/';">
            {% if user.username == '' %}
            <i class="glyphicon glyphicon-user"> Profil</i>
            {% else %}
                {% load static %}
                <img  src="{% static pro_pic.picture %}" width="40" height="30" alt="img"/>Profil
            {% endif %}
        </a>

    </li>
</ul>

